:root {
--main-title-color: #757575;
--second-title-color: #AFB1B8;
--third-title-color: #FFFFFF;
--main-btn-color: #2196F3;
--second-btn-color: #AFB1B8;
--third-btn-color: #FFFFFF;
--accent-colors: #2196F3;
}