
.content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.content__title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align:center;
@include tablet {
  text-align: left;
}
text-transform: uppercase;
color: #212121;
margin-bottom: 10px;
}
.content__item{
 width: 100%;
 max-width: 480px; 
 height: 248px;
 &::before{
  display: block;
  content: '';
  background-color: rgba(245, 244, 250, 1);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  height: 120px;
}
@include tablet {
   width: calc((100% - 30px) / 2);
}
@include desktop {
   width: calc((100% - 90px) / 4);
}
}
.content__text{
font-size: 14px;
line-height: 1.71;
color: var(--main-title-color);
}

.antenna1-icon::before{
background-image: url(../img/antenna1.svg);
}
.clock1-icon::before{
background-image: url(../img/clock1.svg);
}
.diagram1-icon::before{
  background-image: url(../img/diagram1.svg);
}
.astronaut1-icon::before{
  background-image: url(../img/astronaut1.svg);
}